.menu-main {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 0 36px;

    &__link {
        fill: $color-black;
        stroke: $color-black;
        display: flex;
        align-items: center;
        gap: 14px;
        color: $color-black;
        text-decoration: none;
        font-size: 17px;
        font-weight: 600;
        opacity: .7;
    }
    &__link:hover,
    &__link_active,
    &_full-active:not(:hover) &__link {
        fill: $color-main;
        stroke: $color-main;
        color: $color-black;
        opacity: 1;
    }
    &__pict {
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        &_num2,
        &_num3,
        &_num4 {
            stroke: none;
        }
    }
    &__icon {
        max-height: 100%;
        max-width: 100%;
    }

    @media (max-width: 999px)
    {
        & {
            gap: 30px;
            padding: 0;

            &__link {
                font-size: 16px;
            }
        }
    }
}