<div class="menu-main @@if (active === 'main') { menu-main_full-active }">
    <a href="javascript:;" class="menu-main__link @@if (active === 'objects') { menu-main__link_active }">
        <span class="menu-main__pict menu-main__pict_num1">
            <svg class="menu-main__icon">
                <use xlink:href="local/img/sprites/sprite.svg#addr"></use>
            </svg>
        </span>
        <span class="menu-main__text">Охраняемые объекты</span>
    </a>
    <a href="javascript:;" class="menu-main__link @@if (active === 'balance') { menu-main__link_active }">
        <span class="menu-main__pict menu-main__pict_num2">
            <svg class="menu-main__icon">
                <use xlink:href="local/img/sprites/sprite.svg#wallet"></use>
            </svg>
        </span>
        <span class="menu-main__text">Пополнить баланс</span>
    </a>
    <a href="javascript:;" class="menu-main__link @@if (active === 'finance') { menu-main__link_active }">
        <span class="menu-main__pict menu-main__pict_num3">
            <svg class="menu-main__icon">
                <use xlink:href="local/img/sprites/sprite.svg#ruble"></use>
            </svg>
        </span>
        <span class="menu-main__text">Финансы и документы</span>
    </a>
    <a href="javascript:;" class="menu-main__link @@if (active === 'request') { menu-main__link_active }">
        <span class="menu-main__pict menu-main__pict_num4">
            <svg class="menu-main__icon">
                <use xlink:href="local/img/sprites/sprite.svg#mgs"></use>
            </svg>
        </span>
        <span class="menu-main__text">Мои обращения</span>
    </a>
    <a href="javascript:;" class="menu-main__link @@if (active === 'equipment') { menu-main__link_active }">
        <span class="menu-main__pict menu-main__pict_num5">
            <svg class="menu-main__icon">
                <use xlink:href="local/img/sprites/sprite.svg#equipment"></use>
            </svg>
        </span>
        <span class="menu-main__text">Оборудование и услуги</span>
    </a>
</div>