<div class="panel-left">
    <a href="/" class="panel-left__logo">
        <img src="local/img/logo.svg" alt="logo" width="357" height="171">
    </a>
    <div class="panel-left__menu">
        @@if (menu === 'main') { @@include("../menu-main/menu-main.html") }
        @@if (menu === 'balance') { @@include("../menu-main/menu-main-balance.html") }
        @@if (menu === 'equipment') { @@include("../menu-main/menu-main-equipment.html") }
    </div>
    <div class="panel-left__bottom">
        <div class="panel-left__bottom-title">
            <svg class="panel-left__bottom-icon">
                <use xlink:href="local/img/sprites/sprite.svg#call"></use>
            </svg>
            Служба клиентской поддержки
        </div>
        <a href="javascript:;" class="btn btn_main">Написать</a>
    </div>
</div>