.full-shadow {
    display: none;
    background-color: $block-shadow;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    &_show {
        display: block;
    }
}