@@include("../blocks/modules/main/header.html", { "title" : "Багира (Пополнить баланс)" })
@@include("../blocks/modules/panel-left/panel-left.html", { "menu" : "balance" })
<div class="container">
    @@include("../blocks/modules/panel-top/panel-top.html", { "showBack" : true })
    @@include("../blocks/modules/back-link/back-link-mobile.html")
    @@include("../blocks/modules/object-block/object-block-balance.html")
    @@include("../blocks/modules/window-block/window-pay.html")
    @@include("../blocks/modules/window-block/window-finance.html")
</div>
@@include("../blocks/modules/main/footer.html")