@@include("../blocks/modules/main/header.html", { "title" : "Багира (Предупреждение об отключении или уведомление об отключении)" })
@@include("../blocks/modules/panel-left/panel-left.html", { "menu" : "main" })
<div class="container">
    @@include("../blocks/modules/panel-top/panel-top.html", { "showBack" : true })
    @@include("../blocks/modules/warning-message/warning-message.html")
    @@include("../blocks/modules/equipment-slider/equipment-slider.html")
    @@include("../blocks/modules/object-block/object-block.html")
    @@include("../blocks/modules/window-block/window-pay.html")
    @@include("../blocks/modules/window-block/window-finance.html")
    @@include("../blocks/modules/banner-one/banner-one.html")
</div>
@@include("../blocks/modules/main/footer.html")