@@include("../blocks/modules/main/header.html", { "title" : "Багира (Мои обращения)" })
@@include("../blocks/modules/panel-left/panel-left.html", { "menu" : "request" })
<div class="container">
    @@include("../blocks/modules/panel-top/panel-top.html", { "showBack" : true })
    @@include("../blocks/modules/back-link/back-link-mobile.html")
    @@include("../blocks/modules/request-panel/request-panel.html")
    @@include("../blocks/modules/request-list/request-list-my.html")
</div>
@@include("../blocks/modules/main/footer.html")