@@include("../blocks/modules/main/header.html", { "title" : "Багира (Охраняемые объекты)" })
@@include("../blocks/modules/panel-left/panel-left.html", { "menu" : "objects" })
<div class="container">
    @@include("../blocks/modules/panel-top/panel-top.html", { "showBack" : true })
    @@include("../blocks/modules/back-link/back-link-mobile.html")
    @@include("../blocks/modules/object-list/object-list.html")
    @@include("../blocks/modules/banner-one/banner-one.html")
</div>
@@include("../blocks/modules/main/footer.html")