.banner-one {
    background: url(../img/banner-one/bg.png) center / cover no-repeat $color-black;
    padding: 45px 35px 45px 55px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @supports (background-image:-webkit-image-set(url(../img/banner-one/bg.webp)))
    {
        & {
            background-image: url(../img/banner-one/bg.webp);
        }
    }

    &__title {
        width: calc(100% - 260px);
        font-size: 20px;
        line-height: 1.1;
        color: $color-white;
    }
    &__green {
        color: $color-main;
    }
    &__btn {
        width: 245px;
    }

    @media (min-width: 1000px) AND (max-width: 1249px)
    {
        & {
            padding: 25px;
    
            &__title {
                font-size: 18px;
            }
        }
    }
    @media (max-width: 859px)
    {
        & {
            padding: 60px 25px 25px;
            flex-direction: column;
            align-items: flex-start;

            &__title {
                font-size: 18px;
                margin: 0 0 10px;
                width: 100%;
            }
            &__btn {
                width: 100%;
            }
        }
    }
}