.documents-item {
    text-decoration: none;
    color: $color-black;

    &__pict {
        box-shadow: 0 0 40px $block-shadow;
        background-color: $color-white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        margin: 0 0 10px;
        transition: .5s;
    }
    &:hover &__pict {
        box-shadow: 0 0 10px $block-shadow;
    }
    &__icon {
        height: 46px;
        width: 46px;
        border-radius: 50%;
        background-color: $color-main;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: $color-white;
    }
    &__svg {
        width: 32px;
        height: 26px;
    }
    &__name {
        line-height: 1.33;
        text-align: center;
    }
}