.back-link-mobile {
    display: none;

    @media (max-width: 991px)
    {
        & {
            margin: -35px 0 27px;
            padding: 18px 0;
            border-bottom: 1px solid $color-gray2;
            display: block;
        }
    }
}

.back-link {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: $color-black;
    text-decoration: none;
    gap: 10px;
    display: flex;
    align-items: center;
}