.equipment-slider {
    margin: 0 0 60px;
    position: relative;

    &__str {
        position: absolute;
        top: 50%;
        translate: 0 -50%;

        &_prev {
            left: -55px;
        }
        &_next {
            right: -55px;
        }
        &_disabled {
            opacity: 0;
            cursor: default;
        }
    }

    @media (max-width: 1499px)
    {
        &__str {
            display: none;
        }
    }
    @media (max-width: 859px)
    {
        & {
            margin: 0 -15px 40px;
            padding: 0 15px;
            overflow: hidden;

            &__slider {
                overflow: visible;
            }
            &__slide {
                width: 255px;
            }
        }
    }
}