.support-block-top {

    &__title {
        margin: 0 0 10px;
    }
    &__desc {
        font-size: 14px;
        line-height: 1.3;
        color: $color-gray4;
    }
}

.support-block-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    &__label {
        font-weight: 600;
        line-height: 1;
    }
    &__link {
        font-weight: 700;
        font-size: 22px;
        text-decoration: none;
    }
    &__link:hover {
        color: $color-main-hover;
    }
}

@media (max-width: 575px)
{
    .support-block-top {
        order: 1;

        &__desc {
            margin: 0 0 25px;
        }
    }

    .support-block-bottom {
        order: 3;
        margin: 25px 0 0;
    }

    .support-block-form {
        order: 2;
    }
}