.container {
    width: 100%;
    margin: auto;
    max-width: 1030px;
    padding: 0 30px;

    @media (max-width: 999px)
    {
        & {
            padding: 0 15px;
        }
    }
}

.overflow-hidden {
    overflow: hidden;
}