$color-black: #231F20;
$color-white: #FFF;

$color-bg: #f6f6f6;

$color-main: #3dae2b;
$color-main-hover: #488E3D;

$color-danger: #DE0606;

$block-shadow: rgba(0, 0, 0, .15);

$color-gray1: #ededed;
$color-gray2: #CCC;
$color-gray3: #575757;

.fancybox__container {
    --fancybox-bg: rgba(0, 0, 0, .15);
    --fancybox-content-color: #231F20;
}