$color-black: #231F20;
$color-white: #FFF;

$color-bg: #f6f6f6;

$color-main: #3dae2b;
$color-main-hover: #488E3D;

$color-danger: #900;

$block-shadow: rgba(0, 0, 0, .15);

$color-gray1: #ededed;
$color-gray2: #CCC;