$color-black: #231F20;
$color-white: #FFF;
$color-text: #4a4a4a;

$color-main: #3dae2b;
$color-main-hover: #488E3D;

$color-shadow: rgba(0, 0, 0, .2);
$color-text-opacity: rgba(255, 255, 255, .6);

$color-gray1: #ededed;
$color-gray2: #81858e;
$color-gray3: rgba(35, 31, 32, .5);

$color-danger: #900;